- var items = ['Объекты', 'Компания', 'Как купить', 'Агентам', 'Регионам', 'Акции', 'Контакты']

nav.nav    
    ul.nav__list
        each item in items
            li.nav__item
                a(href="#").nav__link
                    span.nav__text= item