.header {
  background-color: $color-main;

  &.is-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 24px;

    @media screen and (min-width: 1200px) {
      padding: 12px 40px;
    }
  }
}
