.nav {
  @media only screen and (max-width: 1199px) {
    position: fixed;
    top: 67px;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    min-width: 320px;
    padding-top: 15px;
    padding-right: 16px;
    padding-left: 16px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: rgba(0, 47, 47, 0.97);

    &.is-active {
      display: block;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    @media only screen and (min-width: 1200px) {
      display: inline-block;
    }
  }

  &__link {
    display: block;
    padding: 0 24px;
    color: #ffffff;
    font-size: 24px;
    text-decoration: none;

    @media only screen and (max-width: 1499px) and (min-width: 1200px) {
      padding: 0 15px;
      font-size: 20px;
    }

    &:hover {
      opacity: 0.85;
    }
  }

  &__text {
    @media only screen and (min-width: 1200px) {
      padding: 8px 0;
      border-bottom: 2px solid transparent;
    }
  }
}
